{% extends "base_generic.html" %}

{% block content %}

<h1><a href="https://github.com/JungDev/django-telegrambot#django-telegrambot">Django-TelegramBot</a> Sample App</h1>
<p>
Welcome in the sample project of Django-Telegrambot, aka how add Telegram bots to your Django app!
<br>
The full documentation is at <a href="https://django-telegrambot.readthedocs.org">https://django-telegrambot.readthedocs.org</a>.
</p>
<p>Visit <b><a href="{% url 'django-telegrambot' %}">Django-Telegrambot Dashboard</a></b> to see more info about your telegram bots</p>

{% endblock %}
