include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include django_telegrambot *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include example *.py
