<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Django-Telegrambot</title>{% endblock %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              
   <!-- Add additional CSS in static file -->
   {% load static %}
   <!--link rel="stylesheet" href="{% static 'css/styles.css' %}" -->
   <style>
    .sidebar-nav {
       margin-top: 20px;
       padding: 0;
       list-style: none;
    }
    .nolist {
      list-style: none;
      font-size: 1.5em;
      color: #337ab7;
    }
    .nolist a:hover{
        text-decoration: none;
    }
   </style>
</head>

<body>
   <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                     <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

